@import "variables";
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; 
}

body {
  font-size: 1.6rem; 
  color: $primary-color;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $primary-color;
}


.container {
  max-width: 100rem;
  margin: 0 auto;
}


