$primary-color: #212529;
$secondary-color: #83a3c3;
$background-color: #fff;
$font-family-main: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
$card-width: 23rem;
$card-height: 37.5rem;
