
@import 'variables';
@import 'reset';


@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card-styles {
 
  border-radius: 0.5rem;
  padding: 1rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


  
.nav {
  height: 6rem;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  gap: 4rem;
  
  .navbar {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
  }
  .zero {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: $primary-color;
    border-radius: 50%;
    @include flex-center;
    color:$background-color;
    font-size: 1.2rem;
  }
  .burger {
    display: none;
    font-size: 2rem;
  }

  @media (max-width: 992px) {
    justify-content: space-between;
    padding: 0 6rem;

    .navbar {
      display: none;
    }

    .burger {
      display: block;
    }
  }
}

.head_list {
  display: flex;
  gap: 2rem;

  a:hover {
    color: $secondary-color;
  }
}

.wrap {
  display: flex;
  align-items: center;
  border: 1px solid $primary-color;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: $primary-color;
    color: #fff;
  }
}


#main {
  height: 30rem;
  background-color: $primary-color;
  @include flex-center;

  .hero {
    color: #fff;
    text-align: center;

    .title {
      font-size: 6rem;
      font-family: $font-family-main;
      margin-bottom: 2rem;
    }

    .text {
      font-size: 2rem;
      font-family: $font-family-main;
    }
  }
}


#card-sect {
  padding: 6rem 0;

  .cards {
    @include flex-center;
    gap: 2rem;
    flex-wrap: wrap;

    .card {
      @include card-styles;
      width: $card-width;
      height: $card-height;
      border: 1px solid $primary-color;
      .img {
        width: 100%;
        height: 18rem;
        position: relative;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .card_text {
        text-align: center;
      }

      .card_title {
        font-size: 2rem;
        margin: 1rem 0;
        font-family: $font-family-main;
      }

      .card_btn {
        padding: 1rem 2rem;
        border: 1px solid $primary-color;
        border-radius: 0.5rem;
        cursor: pointer;
        background-color: transparent;
        width: 11.7rem;

        &:hover {
          background-color: $primary-color;
          color: #fff;
        }
      }

      .sale {
        position: absolute;
        top: 1rem;
        right: 1rem;
        padding: 0.1rem 0.5rem;
        background-color: $primary-color;
        color: $background-color;
        border-radius: 0.5rem;
      }
    }
  }
}

.footer {
  height: 10rem;
  background-color: $primary-color;
  color: #fff;
  @include flex-center;
}

.old-price {
  text-decoration: line-through;
}

.bi-star-fill {
  color: rgb(255, 213, 0);
}

@media (max-width: 576px) {
  .card {
    width: 20rem;
    height: 35rem;
  }

  .card_title {
    font-size: 1.8rem;
  }

  .title {
    font-size: 5rem;
  }

  .text {
    font-size: 1.8rem;
  }
}
